<main>
    <h2>Поступил новый заказ<h2>
    Поступил новый заказ от <%= locals.fio %>!<br />
    На номер:  <%= locals.tel %> <br/>
    Содержащий: <%= locals.tovar %><br />
    На сумму: <%= locals.price %><br />
    Он будет доставлен на <%= locals.addres %><br />
    С помощью: <%= locals.sposob %>
  </main>
  